{% extends "base.html" %}
{% load static %}
{% block title %}
  Portfolio
{% endblock %}
{% block content %}
<div class="container">
  <!-- <h1 class="text-center">Portfolio</h1> -->
  <div class="row row-cols-3 row-cols-lg-6 align-items-stretch g-4 py-3">
    {% if page_obj.all_technologies %}
      {% for tag in page_obj.all_technologies %}
        {% include "includes/tag.html" %}
      {% endfor %}
    {% else %}
      <p>There are no technologies yet</p>
    {% endif %}
  </div>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-1">
    {% if page_obj.all_projects %}
      {% for post in page_obj.all_projects %}
        {% include "includes/post_card.html" %}
      {% endfor %}
    {% else %}
      <p>There are no projects yet</p>
    {% endif %}
    </div>
  </div>
  {% endblock %}