<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/main.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/badges/badges.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap/assets/js/color-modes.js' %}"></script>
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      {% block content %}Контента пока нет :({% endblock %}
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>