<h2 class="display-4 fw-bold lh-1 text-body-emphasis">About me</h2>
<div class="d-flex gap-2 justify-content-md-start py-3 text-start">
  {% include "includes/contact_badges.html" %}
</div>
<p>
  <b>Home:</b> Serbia, Belgrade<br>
  <b>Date of birth:</b> 22/08/1999<br> 
  <b>Nationality:</b> Russian<br>
</p>
<h3>Motivation</h3>
<p>
  I have been passionate about programming, algorithms and logic problems since
  childhood: Even as a child, I solved logic puzzles that my father, a programmer,
  compiled for me in the form of an excel program so that I could find parts of some
  surprise hidden somewhere in the house.
  At university, I studied Arduino programming and assembled a CNC laser machine
  to make mockups and so did my small business in the dorm.
  I chose Python consciously - I studied the statistics of the languages used, talked
  with familiar programmers and realized that python would provide an excellent
  base for understanding an unlimited number of other interesting technologies.
</p>
<h3>
  To achieve my dream, I use the following features:
</h3>
  • I actively read the documentation of various libraries and frameworks, create
  programs that solve my problems and my friends - so I study new
  technologies - by searching for answers.<br>
  • I read habr and articles by programmers and IT companies on LinkedIn.<br>
  • I take courses, for example, Yandex Practicum courses.<br>
  • I follow the hackathons and try to participate whenever possible.<br>
<h3>
  Hobbies
</h3>
<p>
  I am interested in Arduino programming, yoga, improving English, doing wood
  carving.
</p>
<h3>
  What am I looking for
</h3>
<p>
  I am looking for a friendly team with an atmosphere of mutual respect.
  I am particularly interested in developing services, for example, telegram bots,
  Django web applications, working with APIs and actively participating in all
  development cycles.
  I currently live in Serbia, but I am ready to move to another country.
</p>
<h2 class="display-4 fw-bold lh-1 text-body-emphasis">Work experience</h2>
<div class="row">
  <div class="col-lg-3">
    <p>[ 01/06/2024 – Current ]</p>
  </div>
  <div class="col">
    <h4>Python Developer</h4>
    <b>Commercial activity</b><br>
    <b>City:</b> Belgrade | <b>Country:</b> Serbia<br>
    <p>
      The telegram team is developing a bot for selecting maps for sale in Serbia based on
    the asynchronous Aiogram library.The development is carried out using Git, I participated in the development of the
    bot logic itself and automation of testing and deployment of the project to the
    server using Docker + GitHub Workflows.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    <p>[ 01/06/2023 – Current ]</p>
  </div>
  <div class="col">
    <h4>Python Developer</h4>
    <b>Project activities</b><br>
    <b>City:</b> Belgrade | <b>Country:</b> Serbia
    <p>
      I have worked with Python and various libraries. I wrote the backend using Django,
      designed the API (telegram, YAP), worked with CSS and HTML and Bootstrap,
      Asincio, Aiogram.
      I worked with DBMS(SQLite, PostgreSQL), and now I'm starting to work with
      MongoDB. I have skills working with Docker, GitHub, writing workflows instructions
      for diploma automation, Gunicorn, Nginx.
      Participated in a hackathon on the development of an online art gallery service in a
      team of 19 people.
    </p>
  </div>
</div>
<div>
  [ 01/05/2022 – 01/09/2023 ]
  Middle Architect
  SAMOLET Group
  City: Moskow | Country: Russia
  I led a team of 2-3 people.
  I created a knowledge base for the project my team was working on, which
  simplified the work for novice specialists and reduced the number of alterations and
  errors.
  I wrote a script that allowed me to automatically draw up documentation - it saved
  half a working day every week.
  [ 01/01/2022 – 01/05/2022 ]
  Junior+ Architect
  SAMOLET Group
  City: Moskow | Country: Russia
  Under the guidance of a senior architect, I developed construction drawings of
  multi-storey residential buildings.
  I was the leader of the department in the field of professional software ownership - I
  was a mentor even for experienced architects. I created microscripts and plug-ins
  that helped my colleagues and me with everyday 3d modeling tasks.
  I worked in a team. I often held and participated in meetings within the team and
  between departments.
  [ 01/09/2019 – 01/12/2021 ]
  Junior+ architect
  Architectural bureau "Gradografika"
  City: Saint-Petersburg | Country: Russia
  I have developed design and working documentation for the construction of
  buildings of various purposes and sizes.
  I coordinated the projects with the chief architect of St. Petersburg. I defended my
  projects in front of large developers
  I worked in a team, helped colleagues implement visual programming in their work
  (Autodesk Dynamo - allows you to use a language similar to Python (Python Script)
  to automate building modeling processes.
  I have been implementing task planning systems and organizing the storage of
  project data. I was creating a knowledge base for some projects, which accelerated
  the work of me and my colleagues.I wrote a service program to determine the degree of fire hazard of a building based
  on construction regulations, which allowed me to quickly determine the parameters
  of the projected building - this reduced the number of errors and accelerated the
  issuance of explanatory notes to the design documentation.
  [ 01/08/2018 – 01/09/2019 ]
  Junior architect
  Architectural bureau "Gradografika"
  City: Saint-Petersburg | Country: Russia
  • modeled 3D models of private houses in architectural programs, prepared
  drawings.
  • talked a lot and coordinated projects with the workshop director.
</div>
<h3 class="display-4 fw-bold lh-1 text-body-emphasis">Education and training</h3>
<div>
  [ 15/08/2023 – 14/05/2024 ]
  Python Developer
  Yandex Practicum
  https://practicum.yandex.ru/
  City: Belgrade | Country: Serbia |
  [ 01/09/2017 – 20/04/2022 ]
  Architect
  Saint-Petersburg State University of Architecture and Civil Engineering
  https://www.spbgasu.ru/en/
  City: Saint-Petersburg | Country: Russia |
</div>
<h3 class="display-4 fw-bold lh-1 text-body-emphasis">Language skills</h3>
<div>
  Mother tongue(s): Russian Sign Language
  Other language(s):
  English
  LISTENING B2 READING B1 WRITING B1
  SPOKEN PRODUCTION B1 SPOKEN INTERACTION B2
  German
  LISTENING A1 READING A1 WRITING A1
  SPOKEN PRODUCTION A1 SPOKEN INTERACTION A1
  Serbian
  LISTENING A1 READING A1 WRITING A1
  SPOKEN PRODUCTION A1 SPOKEN INTERACTION A1
  Levels: A1 and A2: Basic user; B1 and B2: Independent user; C1 and C2: Proficient user
</div>