<a href="https://t.me/aleksandr_buchelnikov">
  <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
    <img class="me-1" height="30" src="https://img.shields.io/badge/Telegram-cff4fc?style=for-the-badge&logo=telegram" alt="">
  </span>
</a>
<a href="https://www.linkedin.com/in/aleksandr-buchelnikov/">
  <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
    <img class="me-1" height="30" src="https://img.shields.io/badge/LinkeIn-cff4fc?style=for-the-badge&logo=linkedin&logoColor=0d6efd" alt="">
  </span>
</a>
<a href="mailto:al.buchelnikov@gmail.com">
  <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
    <img class="me-1" height="30" src="https://img.shields.io/badge/Gmail-cff4fc?style=for-the-badge&logo=gmail" alt="">
  </span>
</a>
<a href="https://github.com/AVanslov">
  <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
    <img class="me-1" height="30" src="https://img.shields.io/badge/GitHub-cff4fc?style=for-the-badge&logo=github&logoColor=black" alt="">
  </span>
</a>