{% load static %}
<div class="col py-1">
  <a class="link-underline-light link-underline-opacity-50" href="https://t.me/aleksandr_buchelnikov">
    <span class="badge d-flex align-items-center p-1 pe-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
      <img src="{% static 'img/badges/icons8-telegram-48.png' %}" alt="Описание" width="25" height="25" class="ms-1 me-1">Telegram
    </span>
  </a>
</div>
<div class="col py-1">
  <a class="link-underline-light link-underline-opacity-50" href="https://www.linkedin.com/in/aleksandr-buchelnikov/">
    <span class="badge d-flex align-items-center p-1 pe-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
      <img src="{% static 'img/badges/icons8-linkedin-48.png' %}" alt="Описание" width="25" height="25" class="ms-1 me-1">LinkedIn
    </span>
  </a>
</div>
<div class="col py-1">
  <a class="link-underline-light link-underline-opacity-50" href="mailto:al.buchelnikov@gmail.com">
    <span class="badge d-flex align-items-center p-1 pe-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
      <img src="{% static 'img/badges/icons8-gmail-48.png' %}" alt="Описание" width="25" height="25" class="ms-1 me-1">E-Mail
    </span>
  </a>
</div>
<div class="col py-1">
  <a class="link-underline-light link-underline-opacity-50" href="https://github.com/AVanslov">
    <span class="badge d-flex align-items-center p-1 pe-2 text-info-emphasis bg-info-subtle border border-info-subtle rounded-pill">
      <img src="{% static 'img/badges/icons8-github-24.png' %}" alt="Описание" width="25" height="25" class="ms-1 me-1">GitHub
    </span>
  </a>
</div>