<div class="dropdown d-inline-flex p-1">
  <button class="btn btn btn-outline-primary me-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Download CV
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1U1KjtNHtK_9114gSC7B8LGmepUXZtZSx/view?usp=sharing">In English CV in Europass format</a></li>
    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1Pzw_JekdR3nWsk8E32Cvw1TFJzPH7uxl/view?usp=sharing">In Russian CV in HH format</a></li>
  </ul>
</div>