{% load static %}
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Buchelnikov Aleksandr</span>
    </div>

    <div class="d-flex gap-2 justify-content-md-end py-3 text-start">
      <a href="https://t.me/aleksandr_buchelnikov">
        <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
          <img class="me-1" height="30" src="https://img.shields.io/badge/Telegram-cff4fc?style=for-the-badge&logo=telegram" alt="">
        </span>
      </a>
      <a href="https://www.linkedin.com/in/aleksandr-buchelnikov/">
        <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
          <img class="me-1" height="30" src="https://img.shields.io/badge/LinkeIn-cff4fc?style=for-the-badge&logo=linkedin&logoColor=0d6efd" alt="">
        </span>
      </a>
      <a href="mailto:al.buchelnikov@gmail.com">
        <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
          <img class="me-1" height="30" src="https://img.shields.io/badge/Gmail-cff4fc?style=for-the-badge&logo=gmail" alt="">
        </span>
      </a>
      <a href="https://github.com/AVanslov">
        <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
          <img class="me-1" height="30" src="https://img.shields.io/badge/GitHub-cff4fc?style=for-the-badge&logo=github&logoColor=black" alt="">
        </span>
      </a>
    </div>
  </footer>
</div>