<div class="dropdown d-inline-flex p-1">
  <button class="btn btn btn-primary me-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Hire me
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="https://t.me/aleksandr_buchelnikov">
        <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
          <img class="me-1" height="30" src="https://img.shields.io/badge/Telegram-white?style=for-the-badge&logo=telegram" alt="">
        </span>
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="mailto:al.buchelnikov@gmail.com">
        <span class="badge d-flex align-items-center p-1 pe-2 bg-light-subtle border-light-subtle rounded-pill">
          <img class="me-1" height="30" src="https://img.shields.io/badge/Gmail-white?style=for-the-badge&logo=gmail" alt="">
        </span>
      </a>
    </li>
  </ul>
</div>