{% extends "base.html" %}
{% load static %}
{% block title %}
  Main page
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col rounded-3 my-3 mx-3 p-3">
        <div class="p-3 text-start">
          <h1 style="font-size: 80px;">ALEKSANDR BUCHELNIKOV</h1>
          <h2 style="font-size: 40px;">PYTHON DEVELOPER</h2>
          <button type="button" class="btn btn-outline-primary me-2">Download CV</button>
        </div>
        <div class="d-flex gap-2 justify-content-center py-1">
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=python" alt="">Python
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=django" alt="">Django
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=Bootstrap" alt="">Bootstrap
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=postman" alt="">Postman
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=nginx" alt="">Nginx
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=docker" alt="">Docker
          </span>
        </div>
        <div class="d-flex gap-2 justify-content-center py-1">
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=html" alt="">HTML
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=CSS" alt="">CSS
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=sqlite" alt="">SQlite
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=postgresql" alt="">PostgresQL
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=linux" alt="">Linux
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=mongodb" alt="">MongoDB
          </span>
        </div>
        <div class="d-flex gap-2 justify-content-center py-1">
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=telegram" alt="">Python Telegram Bot
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=aiogram" alt="">Aiogram
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=asincio" alt="">Asincio
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=json" alt="">JSON
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=pytest" alt="">Pytest
          </span>
          <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="https://img.shields.io/badge/--black?logo=unittest" alt="">Unittest
          </span>
        </div>
      </div>
      <div class="col rounded-3 my-3 mx-3 p-3">
        <div class="p-3 text-end">
          <img src="https://avatars.githubusercontent.com/u/145268320?v=4" alt="Описание" width="400" height="400">
        </div>
      </div>
    </div>

    <div class="row p-4 pb-0 pe-lg-0 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-12 p-3 p-lg-5 pt-lg-3">
        <h2 class="display-4 fw-bold lh-1 text-body-emphasis">About me</h2>
        <h3>Motivation</h3>
        <p>
          I have been passionate about programming, algorithms and logic problems since
          childhood: Even as a child, I solved logic puzzles that my father, a programmer,
          compiled for me in the form of an excel program so that I could find parts of some
          surprise hidden somewhere in the house.
          At university, I studied Arduino programming and assembled a CNC laser machine
          to make mockups and so did my small business in the dorm.
          I chose Python consciously - I studied the statistics of the languages used, talked
          with familiar programmers and realized that python would provide an excellent
          base for understanding an unlimited number of other interesting technologies.
        </p>
        <h3>
          To achieve my dream, I use the following features:
        </h3>
          • I actively read the documentation of various libraries and frameworks, create
          programs that solve my problems and my friends - so I study new
          technologies - by searching for answers.<br>
          • I read habr and articles by programmers and IT companies on LinkedIn.<br>
          • I take courses, for example, Yandex Practicum courses.<br>
          • I follow the hackathons and try to participate whenever possible.<br>
        <h3>
          Hobbies
        </h3>
        <p>
          I am interested in Arduino programming, yoga, improving English, doing wood
          carving.
        </p>
        <h3>
          What am I looking for
        </h3>
        <p>
          I am looking for a friendly team with an atmosphere of mutual respect.
          I am particularly interested in developing services, for example, telegram bots,
          Django web applications, working with APIs and actively participating in all
          development cycles.
          I currently live in Serbia, but I am ready to move to another country.
        </p>
        <h2 class="display-4 fw-bold lh-1 text-body-emphasis">Work experience</h2>
        <div class="row">
          <div class="col-lg-3">
            <p>[ 01/06/2024 – Current ]</p>
          </div>
          <div class="col">
            <h4>Python Developer</h4>
            <b>Commercial activity</b><br>
            <b>City:</b> Belgrade | <b>Country:</b> Serbia<br>
            <p>
              The telegram team is developing a bot for selecting maps for sale in Serbia based on
            the asynchronous Aiogram library.The development is carried out using Git, I participated in the development of the
            bot logic itself and automation of testing and deployment of the project to the
            server using Docker + GitHub Workflows.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p>[ 01/06/2023 – Current ]</p>
          </div>
          <div class="col">
            <h4>Python Developer</h4>
            <b>Project activities</b><br>
            <b>City:</b> Belgrade | <b>Country:</b> Serbia
            <p>
              I have worked with Python and various libraries. I wrote the backend using Django,
              designed the API (telegram, YAP), worked with CSS and HTML and Bootstrap,
              Asincio, Aiogram.
              I worked with DBMS(SQLite, PostgreSQL), and now I'm starting to work with
              MongoDB. I have skills working with Docker, GitHub, writing workflows instructions
              for diploma automation, Gunicorn, Nginx.
              Participated in a hackathon on the development of an online art gallery service in a
              team of 19 people.
            </p>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Download EN CV in Europass format</button>
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Download RU CV in HH format</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Contact me</button>
      </div>
    </div>
          
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({% static 'img/unsplash-photo-1.jpg' %});">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({% static 'img/unsplash-photo-2.jpg' %});">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Pakistan</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>4d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url({% static 'img/unsplash-photo-3.jpg' %});">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}